sudo: required

language: java

jdk: openjdk14

branches:
  only:
  - master

addons:
  sonarcloud:
    organization: "marcust-github"

services:
  - docker

script:
  - mvn -U clean org.jacoco:jacoco-maven-plugin:prepare-agent jacoco:prepare-agent-integration install sonar:sonar

after_success:
  - mvn jacoco:report coveralls:report
  - test $TRAVIS_BRANCH = "master" && mvn deploy --settings etc/settings.xml -DskipTests=true -Ddocker.maven.plugin.skip=true -B
  - bash <(curl -s https://codecov.io/bash)

  
